<app-navbar></app-navbar>
<div class="full-page mid-center">
    <div class="controls">
        <span class="num-controls nc-l" [class.disabled]="skip - 10 < 0" (click)="updateMenu(skip - 10)">&#10148;</span>
        {{skip + 1}} - {{mx()}} / {{total}}
        <span class="num-controls nc-r" [class.disabled]="skip + 10 > total"
            (click)="updateMenu(skip + 10)">&#10148;</span>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Dish ID</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dish of dishes">
                    <td>{{dish.dish_id}}</td>
                    <td>{{dish.dish_name}}</td>
                    <td class="currency">{{dish.dish_price | currency:'INR':true}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>