<div class="full-page mid-center">
    <h2>Restaurant Menu</h2>
    <div style="height: 25px;"></div>
    <div class="controls">
        <span class="num-controls nc-l" [class.disabled]="skip === 0"
            (click)="updateSkip(skip - 10)">&#10148;</span>
        {{skip + 1}} - {{skip + 10}} / 31
        <span class="num-controls nc-r" [class.disabled]="skip === 30"
            (click)="updateSkip(skip + 10)">&#10148;</span>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Dish ID</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dish of dishes">
                    <td>{{dish.dish_id}}</td>
                    <td>{{dish.dish_name}}</td>
                    <td>{{dish.dish_price | currency:'INR':true}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>