button {
    margin-top: 27px;
}

form, .grid {
    button {
        width: 100%;
    }
}

.fg-grid {
    display: grid;
    grid-template-columns: auto auto calc(20px + 7em);
    grid-gap: 15px;
}

.mid-center > * {
    text-align: center;
}

.grid,
.fg-grid {
    width: 60vw;
    margin: 30px auto;
}

.fg-grid {
    margin: 10px auto 0;
}

h2 {
    vertical-align: middle;
    margin: 0;
}

button {
    vertical-align: middle;
}

form,
.fg-grid {
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 30vw;
    grid-gap: 15px;

    button {
        color: var(--text-color);
        margin: 0;
        &:not(.secondary) {
            color: var(--body-background);
        }
    }
}

.subtitle {
    margin-top: 10px;
}
