<div class="full-page mid-center">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Patron sign up</h2>
            <div class="subtitle">Already registered? <a [routerLink]="['/login']">Sign in!</a></div>
        </div>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group" [class.valid]="registerForm.controls['firstName'].valid">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" formControlName="firstName" />
                </div>
                <div class="form-group" [class.valid]="registerForm.controls['lastName'].valid">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" formControlName="lastName" />
                </div>
                <div class="form-group" [class.valid]="registerForm.controls['email'].valid">
                    <label for="email">Email ID</label>
                    <input type="email" id="email" formControlName="email" />
                </div>
                <div class="form-group" [class.valid]="registerForm.controls['phone'].valid">
                    <label for="phone">Phone Number</label>
                    <input type="number" id="phone" formControlName="phone" />
                </div>
                <button type="submit" [disabled]="!registerForm.valid || formStatus != 0">
                    {{formStatus == 0 ? "Sign up" : "Signing up..."}}
                </button>
            </form>
        </div>
    </div>
</div>