.mid-center > * {
    text-align: center;
}

.grid {
    width: 60vw;
    margin: 30px auto;
}

h2 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

button {
    vertical-align: middle;
    margin: 10px;
    font-size: 1.1em;
}

button:first-of-type {
    color: var(--text-color);
}

.grid {
    button {
        color: var(--text-color);
        &:disabled {
            cursor: default;
        }
        &:not(.secondary) {
            color: var(--body-background);
        }
    }
}

.subtitle {
    margin-top: 10px;
}
