<div class="full-page">
    <div class="mid-center">
        <h2>
            Assign Waiter
        </h2>
        <button disabled class="secondary">
            Waiter Name <br> Experience &mdash; Rating
        </button>
        <div class="subtitle">Bill ID: {{bill_id}}</div>
        <div class="grid">
            <button *ngFor="let waiter of waiters; let i = index" (click)="assignedWaiter = i"
                [class.secondary]="assignedWaiter !== i">
                {{ waiter.name }}<br>{{ waiter.experience }} &mdash; {{ waiter.rating }}
            </button>
        </div>
        <button [disabled]="!assignedWaiter">Continue</button>
    </div>

</div>