<div class="full-page mid-center">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Admin sign in</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group" [class.valid]="loginForm.controls['password'].valid">
                    <label for="password">Password</label>
                    <a id="show-hide" (click)="showPassword = !showPassword"><small>{{showPassword ? 'Hide' :
                            'Show'}}</small></a>
                    <input [type]="showPassword ? 'text' : 'password'" id="password"
                        formControlName="password" spellcheck="false" />
                </div>
                <button type="submit" [disabled]="!loginForm.valid || formStatus != 0">
                    {{formStatus == 0 ? "Sign in" : "Signing in..."}}
                </button>
            </form>
        </div>
    </div>
</div>