button {
    margin-top: 27px;
    width: 100%;
}

.fg-group {
    display: grid;
    grid-template-columns: 65% calc(35% - 15px);
    grid-column-gap: 15px;
}

.card-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;

    .card {
        width: 30vw;
    }

    & > div:last-of-type {
        .card {
            overflow-y: auto;
            width: 50vw;

            .table-container {
                margin-top: 20px;
                width: 100%;
                max-height: calc(50vh);
                overflow: auto;
                box-shadow: -2px -2px 4px #000, 2px 2px 4px #fff3;
                border-radius: 10px;

                table {
                    box-shadow: none;

                    thead tr {
                        position: sticky;
                        top: 0;
                        z-index: 100;
                        background: #121219;
                    }
                }
            }

            button {
                margin-top: 34px;
            }
        }
    }
}

#total {
    display: block;
    float: right;
    color: var(--color-affirmative);
    text-shadow: -2px -2px 4px #000, 2px 2px 4px #fff3;
}

td {
    position: relative;
    .num-controls {
        &.nc-l {
            transform: scale(-1, 1);
        }

        &.nc-r {
            transform: scale(1);
        }
    }
}

.td-quantity {
    cursor: pointer;

    & > span {
        transition: all 0.25s;
    }

    &::after {
        content: "×";
        position: absolute;
        top: calc(10px);
        left: calc(50%);
        transform: translateX(-50%);
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        color: var(--color-negative);
        transition: all 0.25s;
        opacity: 0;
    }

    &:hover {
        & > span {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }
}
